*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    background:#F3F3EB;
}

h1{
    font-family:'Righteous', cursive;
    font-size: 3em;
    text-transform: uppercase;
    color: #1F1D2B;
    margin-bottom: .5em;
    margin-top: .25em;
}

h2{
    font-family:'Righteous', cursive;
    font-size:2em;
    text-transform: uppercase;
    color: #1F1D2B;
     margin-bottom: .25em;
    margin-top: .25em;
}

h3{
    font-family: 'PT Mono', monospace;
    font-size: 1.5em;
    color: #1F1D2B;
}

h4{
    font-family: 'PT Mono', monospace;
    font-size: 1em;
    color: #1F1D2B;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

p, label{
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    line-height: 1.75em;
}

a{
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    line-height: 1.75em;
    text-decoration:none;
    color: #1F1D2B;
}

.Button{
    font-family: 'Righteous', cursive;
    text-transform:uppercase;
    font-size:1em;
    padding:1.5em;
    color:rgb(242,243,234);
    background-color:rgb(115,149,181);
    text-align: center;
    
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.Button:hover, .ExampleButton-Item:focus{
    background-color: rgb(214,100,67);
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

@media (min-width:81.250em ){
    .Content-Wrapper{
        width:100%;
        max-width:81.250em;
        margin:0 auto;
    }
}


.TwelveColGrid{
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(12,1fr);
    grid-column: span 12;
    grid-auto-rows: min-content;
}

/* The navigation menu */

.Nav{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}
.NavContainer{
    background-color:#D66442;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    justify-content: space-between;
    align-items:baseline;
    
    padding: 0 6em 0 6em;
}

.Nav-Button{
    font-family:'PT Mono', monospace;
    font-size:1em;
    text-transform: uppercase;
    color: #F2F2E9;
    margin: 1em;
}

.Nav-SiteTitle{
    font-family:'Righteous', cursive;
    font-size: 2.250em;
    text-transform: uppercase;
    color: #F2F2E9;
}

.Nav-Button:hover, .Nav-Button:focus{
    text-decoration: underline;
}

.Nav-Dropdown{
    display: inline-block;
    position: relative;
}

.Nav-Dropdown-Content{
    display: none;
    position:absolute;
    background-color:#C4513B;
    max-width:20em;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.2);
    z-index:1;  
}

.Nav-Dropdown-Content a{
    font-family: 'PT Mono', monospace;
    font-size: 1em;
    text-transform: capitalize;
    padding: .5em 1em .5em 1em;
    display:block;
    color: #F2F2E9;
}

.Nav-Dropdown-Content a:hover, .Nav-Dropdown-Content a:focus{
    text-decoration: underline;
    background-color: #BA4327;
}

.Nav-Dropdown:hover .Nav-Dropdown-Content, .Nav-Dropdown:focus .Nav-Dropdown-Content{
    display: block;
}

.Nav-Mobile-Display{
    display:none;
    position:absolute;
    top:.5em;
    right:0;
}

.Nav-MobileMenu{
    display:none;
    background-color: #C4513B;
    text-align: center;
    z-index:1;
    position: absolute;
}

.Nav-MobileMenu a{
    display: block;
    padding: .5em 4em .5em 4em;
}

.Nav-MobileMenu a:focus, .Nav-MobileMenu a:hover{
    text-decoration:underline;
    background-color: #BA4327;
}

.Nav-MobileMenu-Titles{
    font-family:'Righteous', cursive;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.25em;
}

.Nav-MobileMenu-Special{
    font-family:'Righteous', cursive;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.25em;
}

.Nav-MobileMenu-Special:hover, .Nav-MobileMenu-Special:focus{
    text-decoration: underline;
}

.Nav-Mobile-Display:hover .Nav-MobileMenu{
    display: block;
    left: -10em;
}

@media (max-width:50.938em){
    .NavContainer{
      padding: 0;  
    } 
}

@media (max-width: 38.125em){
    .Nav-Mobile-Hide{
        display:none;
    }
    .Nav-SiteTitle{
        padding-left: 1em;
        font-size: 1.5em;
    }
    
    .Nav-Mobile-Display{
        display:block;
    }
}


/*Home Page*/

/*    Header Section */
.Header{
    height: 48.125em;
    width:100%;
    background-color: #1F1D2B;
    background-position: center;
    background-image:url("../img/HeaderImage.jpg");
    background-size: 100% cover;
}

.Home-H3-Description{
    color:#F3F3EB;
    grid-column: span 12;
    margin-top: 0;
    text-align: center;
    padding-top: 6em;
}

.Home-H1-Description{
    color:#F3F3EB;
    font-size: 5em;
    grid-column: span 12;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

.Home-Description-Sale-Item{
    height: 15.250em;
    background-color: white;
    grid-column: span 2;
    position: relative;
    -webkit-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}

.Home-Description-Sale-Item:hover, .Home-Description-Sale-Item:focus{
    transform: scale(1.05);
    -webkit-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}

.Home-Button{
    margin-top: 3em;
    grid-column: 6 / span 2;
}

.HDSI-1{
    grid-column: 2 / span 2;
    background-image: url("../img/Zap-Zap-Laser-Gun.jpg");
    background-size: 100%, contain;
    background-repeat: no-repeat;
}

.HDSI-2{
    background-image: url("../img/AlienInvade.jpg");
    background-size: 100%, contain;
    background-repeat: no-repeat;
}

.HDSI-3{
    background-image: url("../img/JetsonLunch.jpg");
    background-size: 100%, contain;
    background-repeat: no-repeat;
}

.HDSI-4{
    background-image: url("../img/Hal9000.jpg");
    background-size: 100%, contain;
    background-repeat: no-repeat;
}

.HDSI-5{
    background-image: url("../img/AlarmClock.jpg");
    background-size: 100%, contain;
    background-repeat: no-repeat;
}

.HDSI-Item{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#F3F3EB;
}

.HDSI-Item-Title{
    text-align: center;
}

/*    About Us Section*/
.AboutUs{
    margin-top: 6.250em;
}

.Home-AboutUs-Img{
    grid-column: span 6;
    max-height: 30em;
    overflow: hidden;
}

.Home-AboutUs-Img img{
    width:100%;
    height: 100%;
}

.Home-AboutUs-Copy{
    grid-column: span 6;
    padding: .75em;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Home-AboutUs-H1{
    line-height: 1em;
}

.Home-AboutUs-P{
    margin-bottom: 1em;
}

.Home-AboutUs-Button{
    margin-top: 1em;
    padding: 1.5em 3em 1.5em 3em;
    box-shadow: 4px 4px 10px #CECEC9;
    align-self: center;
}

/*    Categories Section*/
.Categories{
    margin-top: 6.250em;
    margin-bottom: 6.250em;
}
.Home-Categories-Item{
    grid-column: span 4;
    text-align: center;
    border-style: solid;
    border-width: 0.05em;
    border-color: #D9D9D2;
    box-shadow: 4px 4px 10px #CECEC9;
    
    padding-bottom: 1em;
    
    -webkit-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}
.Home-Categories-Item:hover, .Home-Categories-Item:focus{
    transform: scale(1.05);
    -webkit-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}

.Home-Categories-Item-Image{
    max-height: 27.750em;
    overflow: hidden;
    z-index: 0;
    border-style: solid;
    border-width: 0.05em;
    border-color: #D9D9D2;
}

.Home-Categories-Item-Image img{
    width:100%;
    height: 100%;
}

.Home-Categories-Copy{
    padding: .5em;
}

/*    Retrofuturism Section */
.Retrofuturism{
    margin-top: 6.250em;
    margin-bottom:0;
    background-image:url("../img/Space_BG.jpg");
    height: 23.375em;
    background-size:cover;
}

.Home-Retrofuturism-h1{
    color:#F3F3EB;
    grid-column: span 12;
    text-align: center;
    padding-top: 1em;
}

.Home-Retrofuturism-h4{
    color:#F3F3EB;
    grid-column: span 12;
    text-align: center;
    line-height: 1.75em;
}

.Home-Retrofuturism-Button{
    grid-column: 5 / span 4;
    text-align: center;
    margin-top: 1em;
}


/*Home Media*/
@media (max-width: 53.125em){
    .Home-Categories-Item{
        grid-column: span 12;
    }
}

@media (max-width: 73em){
    .Home-AboutUs-Img{
        grid-column: span 12;
    }
    
    .Home-AboutUs-Button{
        left: center;
        align-items: center;
        justify-content: center;
    }
    
    .Home-AboutUs-Copy{
        grid-column: span 12;
        margin-bottom: 3em;
    }
    
}

@media (max-width: 65.313em){
    .HDSI-Hide4{
        display: none;
    }
    .Home-Description-Sale-Item{
        grid-column: span 3;
    }
    .Home-AboutUs-Img{
        max-height: 30em;
    }
    
    .Retrofuturism{
        height: 28em;
    }
    
    .Home-Button{
    margin-top: 3em;
    grid-column: 5 / span 4;
}
}

@media (max-width: 42.125em){
    .HDSI-Hide4{
        display: none;
    }
    .HDSI-Hide3{
        display: none;
    }
    .Home-Description-Sale-Item{
        grid-column: span 4;
    }
    
    .Home-H1-Description{
        font-size:3em;
    }
    
    .Home-H3-Description{
        font-size:1.25em;
    }
    
    .Header{
        height:45em;
    }
    
    .Retrofuturism{
        height: 35em;
    }
}

@media (max-width: 32.625em){
    .HDSI-Hide4{
        display: none;
    }
    .HDSI-Hide3{
        display: none;
    }
    
    .HDSI-Hide2{
        display: none;
    }
    
    .Home-Description-Sale-Item{
        grid-column: span 6;
    }
    
    h1{
        font-size: 2.5em;
    }
    
    
    .AboutUs{
        margin-top: 4em;
    }
}

@media (max-width: 31.205em){
    .HDSI-Hide4{
        display: none;
    }
    .HDSI-Hide3{
        display: none;
    }
    .HDSI-Hide2{
        display: none;
    }
    .HDSI-Hide1{
        display: none;
    }
    .Header{
        height:50em;
        background-image:url("../img/HeaderImage_Mobile.jpg");
        background-size: cover;
    }
    .Retrofuturism{
        height: 38em;
    }
    
    .Home-Retrofuturism-Button{
        grid-column: 4 / span 6;
    }
    
    .Home-Description-Sale-Item{
        grid-column: 3 / span 8;
        height:17em;
    }
    
    .Home-Button{
        grid-column: 3 / span 8;
    }
    .Content-Wrapper{
        padding-left: 1em;
        padding-right: 1em;
    }
    
}

@media (min-width: 31.250em){
    .Content-Wrapper{
        padding-left: 2.500em;
        padding-right:2.500em;
    }
}

@media (min-width: 93.750em){
    .Header{
        background-image:url("../img/HeaderImage_Large.jpg");
        background-size: cover;
    }
}

/*Best Sellers Page*/

/*    Top Bar Wayfinder */
.TopBar .Content-Wrapper{
    border-bottom: 1px solid black;
}
.BestSellers-TopBar-Wayfinder{
    grid-column: span 6;
}

.BestSellers-TopBar-SortBy{
    grid-column: 10 / span 3;
}

.BestSellers-TopBar-SortBy label{
    padding-right: .5em;
}

.BestSellers-TopBar-SortBy select{
    margin: 1em 0 1em 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    line-height: 1.75em;
    background-color: #F3F3EB;
    border-color: #1F1D2B;
}

    /*Items */

.Items{
    margin-top:2.250em;
    margin-bottom: 3em;
}

.BestSellers-Items{
    grid-column: span 3;
    text-align: center;
    border-style: solid;
    border-width: 0.05em;
    border-color: #D9D9D2;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 4px 4px 10px #CECEC9;
    
    -webkit-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}
.BestSellers-Items:hover, .BestSellers-Items:focus{
    transform: scale(1.05);
    -webkit-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}

.BestSellers-Item-Image{
    text-align: center;
    max-height: 20em;
    overflow: hidden;
    z-index: 0;
    border-style: solid;
    border-width: 0.05em;
    border-color: #D9D9D2;
    background-color: white;
    position: relative;
}

.BestSellers-Item-Image-OffWhite{
    text-align: center;
    max-height: 20em;
    overflow: hidden;
    z-index: 0;
    border-style: solid;
    border-width: 0.05em;
    border-color: #D9D9D2;
    background-color: #F4F4F4;
    position: relative;
}

.BestSellers-Item-Image-OffWhite img{
    width:100%;
    height:120%;
}

.BestSellers-Items-New{
    background-color: #7394B5;
    color: white;
}

.BestSellers-Items-Sale{
    background-color: #D66442;
    color: white;
}


.BestSellers-Item-Image img{
    width:100%;
    height:120%;
}

.BestSellers-Items-Copy{
    padding: .5em;
}

.SaleItem{
    text-decoration: line-through;
    background-color: #F3F3EB;
}

.SaleItemPrice{
    color: #D66442;
}

.BestSellers-Items-LoadMore{
    margin-top: 2em;
    margin-bottom: 2em;
    grid-column: span 12;
    text-align: center;
}

.BestSellers-Items-Button{
    box-shadow: 4px 4px 10px #CECEC9;
}

/*    Best Sellers Media*/
@media (max-width: 81.250em){
    .TopBar .Content-Wrapper{
        margin-left: 1em;
    }
    
    .Content-Wrapper{
        padding-left: 1em;
        padding-right: 1em;
        margin-right: 1em;
    }
}

@media (max-width:62.188em){
   .BestSellers-TopBar-SortBy{
        grid-column: 9 / span 4;
    }    
}

@media (max-width: 47.500em){
    .BestSellers-TopBar-Wayfinder{
        grid-column: span 4;
    }
    .BestSellers-TopBar-SortBy{
        grid-column: 8 / span 5;
    }
}

@media(max-width: 38.625em){
    .BestSellers-TopBar-Wayfinder{
        grid-column: span 12;
        text-align: center;
    }
    .BestSellers-TopBar-SortBy{
        grid-column: span 12;
        text-align:center;
    }
    
    .BestSellers-TopBar-SortBy select{
        margin: 0 0 1em 0;
    }
}

@media (max-width: 48.438em){
    .BestSellers-Items{
        grid-column: span 4;
    }
}

@media (max-width: 30em){
    .BestSellers-Items{
        grid-column: span 6;
    }
}

@media (max-width: 31.205em){
    .BestSellers-Items{
        grid-column: span 12;
    }  
}

/*Lising Page*/

.Listing{
    margin-top: 3em;
    margin-bottom: 3em;
}
.Listing-Img{
    grid-column: span 6;
    height: 36.188em;
    overflow: hidden;
    background: white;
}

.Listing-Img img{
    width:100%;
    text-align: center;
}

.Listing-Copy{
    grid-column: span 6;
    display: flex;
    flex-direction: column;
}

.Listing-Copy h1{
    text-align: center;
    margin-bottom: 0em;
}

.Listing-Copy-Stars{
    font-size: 1.4em;
    text-align: center;
    margin-top: .5em;
    margin-bottom:.25em;
}

.Listing-Copy h4{
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}

.Listing-Copy-Quantity h4{
    margin-top: 1em;
}

.Listing-Copy h3{
    font-size: 1.25em;
    margin-top: .25em;
    margin-bottom: 0.10em;
}

.Listing-Copy p{
    margin-top: 0;
}
.Listing-Copy-Quantity{
    margin-top:1.5em;
    border-bottom: 1px solid #1F1D2B;
    border-top: 1px solid #1F1D2B;
    margin-bottom: 3em;
}

.Listing-Copy-Button{
    margin-top: 0em;
}

    /*RelatedItems Section */

.RelatedItems{
    margin: 1em 0 3em 0;
}

.RelatedItems a{
    margin: 1em 0 1em 0;
}
.RelatedItems h3{
    grid-column: span 12;
}

.Listing-Item{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#1F1D2B;
}

.Listing-Item-Title{
    text-align: center;
    color: #F3F3EB;
}

.Listing-1{
    background-image: url("../img/Zap-Zap-Laser-Gun.jpg");
    background-size: 100%, contain;
    background-repeat: no-repeat;
}

.Listing-RI-6{
    background-image: url("../img/Nasa-Notebook.jpg");
    background-size: 100%, contain;
    background-repeat: no-repeat;
}

.Listing-RI-7{
    background-image: url("../img/MarsAttacks-Poster.jpg");
    background-size: 100%, contain;
    background-repeat: no-repeat;
}

    /*Media for Listings*/
@media (max-width: 63.375em){
    .Listing-Img{
        grid-column: 4/span 6;
        height: 25em;
        background-size: cover;
    }
    .Listing-Copy{
        grid-column: span 12;
    }
}

@media (max-width: 46.250em){
    .Listing-Img{
        grid-column: 3 / span 8;
    }
}

@media (max-width: 31.205em){
    .Listing-Img{
        grid-column: span 12;
    }
    .Listing-Copy h1{
        margin-top: 1em;
    }
}

/*What is Retrofuturism? Page*/
.Retrofuturism-Header{
    height: 31.250em;
    width:100%;
    background-color: #1F1D2B;
    background-position: center;
    background-image:url("../img/SpaceBackground_RFPage.jpg");
    background-size: 100% cover;
}

.Retrofuturism-H1 {
    color:#F3F3EB;
    font-size: 5em;
    grid-column: span 12;
    text-align: center;
    padding-top: 2.25em;
    margin-top: 0;
    margin-bottom: .15em;
}

.Retrofuturism-H3{
    color:#F3F3EB;
    text-align: center;
    margin-top: .15em;
}
.Description{
    margin-top: 3em;
    margin-bottom: 3em;
}

.Retrofuturism-Image{
    grid-column: span 6;
    overflow:hidden;
    height: 30em;
}

.Retrofuturism-Copy{
    grid-column: span 6;
}

.Retrofuturism-Copy h1{
    margin-top: 2em;
}

@media(max-width: 60.000em){
    .Retrofuturism-H1{
        font-size: 4em;
    } 
    .Retrofuturism-Header{
        height: 28em;
    }
}

@media(max-width: 46.875em){
    .Retrofuturism-Image{
        grid-column: span 12;
    }
    .Retrofuturism-Copy{
        grid-column: span 12;
    }
    .Retrofuturism-H1{
        font-size: 3em;
    } 
    .Retrofuturism-Copy h1{
        margin-top: 1em;
    }
}

/*About Page*/

.About{
    padding-bottom: 2em;
}

.About-Header{
    height: 31.250em;
    width:100%;
    background-color: #1F1D2B;
    background-position: center;
    background-image:url("../img/AboutUs.jpg");
    background-size: 100% cover;
}

.About-Image{
    display: flex;
    grid-column: span 6;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: auto;
}

.About-Image img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}


.About-Copy{
 grid-column: span 6;
}

@media (max-width:74.813em){
    .About-Image{
        grid-column: span 12;
    }
    
    .About-Copy{
        grid-column: span 12;
    }
}


/*Cart*/

.Cart{
    margin-top: 3em;
    margin-bottom: 3em;
}

.Cart-Contents{
    grid-column: span 6;
    border: 1px solid #1F1D2B;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.2);
    margin: 2em 0 2em 0;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 23em;
}

.Cart-Item-Container{
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin: 2em;
}

.Cart-Contents h2{
    margin: 1em 1em 0em 1em;
}
.Cart-Item-Image{
    max-height: 10em;
    max-width: 10em;
    min-width: 10em;
    min-height: 10em;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.2);
}

.Cart-Item-Image img{
    width: 10em;
    height: 10em;
}

.Cart-Item-Description{
    margin: 0 0 0 2em;
}

.Cart-Item-Description p{
    font-size: 1.25em;
    margin-top:0;
}

.Cart-Item-Description h3{
    margin-bottom: .75em;
}

.Cart-Item-X{
    position: absolute;
    top:-1em;
    right:1em;
}

.Cart-Total{
    grid-column: span 6;
    margin: 2em 0 2em 2em;
    border: 1px solid #1F1D2B;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.2);
    display: flex;
    flex-direction: column;
}

.Cart-Total h2{
    margin: 1em 1em 0em 1em;
}

.Cart-Total-Sub{
    display: flex;
    justify-content: space-between;
    margin: 1em 2em 0em 2em;
}

.Cart-Total-Sub h3{
    margin-bottom: 0;
}

.Cart-Total-Del{
    margin: 1em 2em 0em 2em;
    border-bottom: 1px solid #1F1D2B;
}

.Cart-Total-Del h4{
    margin-bottom: 1em;
}

.Cart-Total a{
    margin: 2em;
}

@media (min-width: 28.688em){
    .Cart-Item-Subtotal{
        position: absolute;
        bottom: 1em;
        right:1.5em;
        margin: 1em;
    }
}

@media (max-width: 58.438em){
    .Cart-Contents{
        grid-column: span 12;
    }
    
    .Cart-Total{
        grid-column: span 12;
        margin: 2em 0 2em 0;
    }
}

@media (max-width:28.688em){
    .Cart-Item-Container{
        flex-direction: column;
        margin-bottom: .5em;
    }
    
    .Cart-Item-Image{
        align-self: center;
    }
    
    .Cart-Item-Description{
        text-align: center;
    }
    
    .Cart-Item-Description h3{
        margin-bottom: 0;
    }
    
    .Cart-Item-Description p{
        margin-bottom: 0;
    }
    
    .Cart-Item-Subtotal{
        margin-bottom: 1em;
        text-align: center;
    }
    
    .Cart-Total h3{
        font-size: 1.25em;
    }
    
    .Cart-Total h4{
        font-size: .75em;
    }
    
    .Cart{
        margin-top: 1em;
    }
}

/*Checkout Page*/

.Checkout-Payment{
    grid-column: span 6;
    margin: 4em 0 4em 0;
}

.Checkout-Info{
    display: flex;
    flex-direction: column;
    border: 1px solid #1F1D2B;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.2);
    
    margin-bottom: 2em;
}

.Checkout-Info h2{
    margin: 1em;
}

.Checkout-Info-Hidden{
    margin-bottom: 2em;
    display: none;

    -webkit-transition: display 0.5s ease-out;
    transition: display 0.5s ease-out;  
}

.Checkout-Info:hover .Checkout-Info-Hidden{
    display: block;
    
    -webkit-transition: display 0.5s ease-out;
    transition: display 0.5s ease-out;  
}

.Checkout-Form{
    float: left;
    margin: 0 0 0 2em ;
    width: 30em;
}


.Checkout-Account{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    margin: 0 2em 0 2em;
}

.Checkout-Account h3{
    font-size: 1.2em;
    margin: 1em 0 .5em 0;
}

.Checkout-h3{
    font-size: 1.2em;
    margin: 2em 2em 1em 2em;
    padding-top: 3em;
}

.Checkout-Account p{
    font-size: .75em;
}

.Checkout-Account a{
    color: #D66443;
    text-decoration: underline;
}

.Checkout-Label{
    font-family: 'PT Mono', monospace;
}


.Checkout-Input::placeholder{
    opacity: 100%;
    text-align: left;
}

.Checkout-Form select{
    width: 100%;
    border: 1px solid #1F1D2B; 
    background: none;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0;
    text-align: left;
    margin:0 0 1em 0;
    font-family: 'PT Mono', monospace;
}

.Checkout-Input{
    width: 100%;
    border: 1px solid #1F1D2B; 
    background: none;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0;
    text-align: left;
    margin:0 0 1em 0;
}


.Checkout-Item{
    grid-column: span 6;
    margin: 4em 0 4em 0;
    height: 28em;
    border: 1px solid #1F1D2B;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.2);
}

.Checkout-Item h2{
    margin: 1em;
}

.Checkout-Item h3{
    font-size: 1.15em;
}

.Checkout-Underline{
    padding-bottom: 1em;
    border-bottom: 1px solid #1F1D2B;
    
}

.Button-Container{
    display: flex;
    justify-content: center;
}

.Checkout-Button{
    margin-bottom: 3em;
    width: 10em;
}


@media (max-width:71.250em){
    .Checkout-Form{
        width: 20em;
    }
}

@media (max-width:52.000em){
    .Checkout-Payment{
        grid-column: span 12;
    }
    
    .Checkout-Item{
        grid-column: span 12;
        margin-top: 0;
    }
    
    .Checkout-Form{
        width: 30em;
    }
}

@media (max-width: 37.000em){
    .Checkout-Form{
        width: 15em;
    }
}


/*Login page*/
.column {
    float: left;
    width: 50%;
    padding: 100px;
    background-color: rgb(242,243,234);
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

form {
    
  margin: 2em 0;
  border: 1;
  width: 35%;
  display: block; 
    margin: auto;
}

 
.field {   
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}


label, input {
    font-size: 0.7em;
    padding: 4px;
    transition: all 0.2s;
/*    touch-action: manipulation;*/
}

input {
  font-family: 'PT Mono', monospace;
  border: .10em;
  border-style: solid;
/*  border-width: thick;*/
  font-size: 1em;
  text-align: center;
  -webkit-appearance: none;
  
  padding-top: 1em;
  cursor: text;
}

input:focus {
  outline: 0;
}

label {
  text-transform: uppercase;
}

input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

input:focus::-webkit-input-placeholder {
  opacity: 3;
}

input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}
  .log-Button{
    display: block; 
    margin: auto;
    width: 35%;


}

    .vl {
   border-left: 3px solid black;
  height: 450px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 180px;
}

@media screen and (max-width: 600px) {
  .vl {
    border-left: 0px solid black;
  }
}

/*End of login page*/

/*sign up page*/
.Signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F1D2B;
    padding: 2em 0 2em 0;
}

.Signup-Img{
   align-self: center;
    max-height: 30em;
    overflow: hidden;
}

.Signup-Img img{
    width:100%;
    height: 100%;

}

.Signup-Copy{
    grid-column: span 6;
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    align-self: center;
}

.Signup-P{
    margin-bottom: 1em;
}

.Signup-Button{
    margin-top: 1em;
    align-self: center;
}


/*end of sign up page*/



/*contact page*/



/*end of contact page*/

footer{
    background-color: #1F1D2B;
}

.Footer-Header{
    color:#F2F2E9;
    margin: 2em 0 .5em 0;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1em;
}

.Footer-Link{
    color:#F2F2E9;
    display: block;
}

.Footer-Link:focus, .Footer-Link:hover{
    text-decoration: underline;
}

.Footer-Shop{
    grid-column: span 4;
    margin-bottom: 2em;
}

.Footer-About{
    grid-column: span 4;
    margin-bottom: 2em;
}

.Footer-BTS{
    grid-column: span 4;
    margin-bottom: 2em;
}

.Footer-Copyright{
    grid-column: span 12;
    text-align: center;
    color: #59598E;
    border-top: 1px solid #59598E;
}

@media (max-width: 24.250em){
    
    .Footer-Shop{
        grid-column: span 12;
        margin-bottom: 1em;
        text-align: center;
    }

    .Footer-About{
        grid-column: span 12;
        margin-bottom: 1em;
        text-align: center;
    }

    .Footer-BTS{
        grid-column: span 12;
        margin-bottom: 1em;
        text-align: center;
    }
}

